.page-title{
  display: none;
}

fieldset.field-group-fieldset,
#edit-field-project-images fieldset {
  position:relative;
  padding-top:50px;
  background-color: #FCFCFC;
  border: 1px solid #EAEAEA;
  padding: 14px 20px;
  margin-bottom: 30px;
  border-radius: 6px;
}

#edit-field-project-images fieldset{
  padding-top: 30px;
}
fieldset.field-group-fieldset legend,
#edit-field-project-images fieldset legend {
  position:absolute;
  top:10px;
  left:18px;
}​
fieldset.field-group-fieldset .fieldset-wrapper{
  margin-top: 30px;
}

#project-node-form fieldset{
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#project-node-form fieldset.field-group-fieldset>div{
  margin-left: 20px;
  margin-top: 30px;
}

#project-node-form fieldset.field-group-fieldset legend{
  font-size: 20px;
}
/*
#edit-field-project-images table input,
#edit-field-check-points input[type="submit"]{
  padding: 5px 20px 5px 20px;
}
*/
.image-widget-data input[type="submit"]{
  padding: 2px 20px 2px 20px;
}

#dragon-quote-navigation {
  position: fixed;
}

.image-widget-data{
  width: 100%
}

.image-widget-data input.form-file,
.image-widget-data input.form-submit{
  display: inline;
}


.form-type-radio{
  display: inline;
  padding-right: 20px;
}

.quick-anchor{
	display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
}

table input.form-text, table textarea.form-textarea, table select{
    width: auto;
}

fieldset fieldset legend, table tbody label{
	display: none;
}

table tbody div{
	display: inline;
}
/*
#project-node-form>div>fieldset:before{
  content: 'sdfgsdfg';
  display: block; 
  position: relative; 
  top: -250px; 
  width: 0; height: 5em; margin-top: -5em
}
.ajdust-anchor a{
}*/