fieldset.field-group-fieldset,
#edit-field-project-images fieldset {
    position:relative;
    padding-top:50px;
    background-color: #FCFCFC;
border: 1px solid #EAEAEA;
padding: 14px 20px;
margin-bottom: 30px;
border-radius: 6px;
}

#edit-field-project-images fieldset{
	padding-top: 30px;
}
fieldset.field-group-fieldset legend,
#edit-field-project-images fieldset legend {
    position:absolute;
    top:10px;
    left:18px;
}​
fieldset.field-group-fieldset .fieldset-wrapper{
  margin-top: 30px;
}

#project-node-form fieldset{
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#project-node-form fieldset.field-group-fieldset>div{
  margin-left: 20px;
  margin-top: 30px;
}

#project-node-form fieldset.field-group-fieldset legend{
  font-size: 20px;
}

#edit-field-project-images input[type="submit"],
#edit-field-check-points input[type="submit"]{
  padding: 5px 20px 5px 20px;
}

#dragon-quote-navigation {
  position: fixed;
}

#project-node-form{
  float: right;
}
