#block-dragon-project-dragon-quote{
  text-align: center;
}

#block-dragon-project-dragon-quote .dragon-quote-text {
position: relative;
display: block;
color: #FFF;
font-size: 2rem;
font-weight: 300;
font-size: 2.4rem;
line-height: normal;
padding-bottom: 0px;
}

#block-dragon-project-dragon-quote .dragon-quote-content{
  font-size: 1.5rem;
}

#block-dragon-project-dragon-quote .dragon-quote-link{
cursor: pointer;
position: relative;
display: inline-block;
color: #FFF;
font-size: 1.4rem;
font-weight: 700;
line-height: normal;
text-decoration: none;
text-align: center;
white-space: nowrap;
background: none repeat scroll 0% 0% #F47A1F;
padding: 8px 15px 9px;
border-radius: 2px;
padding-top: 8px;
padding-bottom: 9px;
width: 100%;
max-width: 135px;
padding-right: 0px;
padding-left: 0px;
}
