/*******************************
 *       General              **
 ******************************/
div#main-content{
  padding: 0px 0px 0px;
}

#main-content .container{
  width: auto;
}

div#main{
  padding: 0px 0px 0px;
}

div.block{
  padding: 0px 0px 0px;
}
/*******************************
 *       Flexsilder           **
 ******************************/
ul.flex-direction-nav{
  display: none;
}

div.flexslider {
  margin: 0px;
  border: none;
} 

ol.flex-control-nav{
  bottom: 0px;
  z-index: 10;
}

/*******************************
 *    Panel   Get a Quote     **
 ******************************/
.dragon-mini-panel-middle{
  text-align: center;
}

.dragon-quote-link{
cursor: pointer;
position: relative;
display: inline-block;
color: #FFF;
font-size: 1.4rem;
font-weight: 700;
line-height: normal;
text-decoration: none;
text-align: center;
white-space: nowrap;
background: none repeat scroll 0% 0% #F47A1F;
padding: 8px 15px 9px;
border-radius: 2px;
padding-top: 8px;
padding-bottom: 9px;
width: 100%;
max-width: 135px;
padding-right: 0px;
padding-left: 0px;
}

/*******************************
 *     Panel in other page    **
 ******************************/
#mini-panel-what_we_do_steps .what-we-do-steps-title-1 h2{
  position: absolute;
  left: 500px;
  font-size: 30px;
  margin-top: 250px;
  color: white;
}
#mini-panel-our_business_trading .dragon-mini-panel-pane-trading h2{
  position: absolute;
  left: 300px;
  font-size: 30px;
  margin-top: 250px;
  color: white;
}

#mini-panel-our_business_logistics .dragon-mini-panel-pane-logistics h2{
  position: absolute;
  right: 300px;
  font-size: 30px;
  margin-top: 250px;
  color: white;
}
