/*******************************
 *       General              **
 ******************************/
div#main-content{
  padding: 0px 0px 0px;
}

#main-content .container{
  width: auto;
}

div#main{
  padding: 0px 0px 0px;
}

div.block{
  padding: 0px 0px 0px;
}
/*******************************
 *       Flexsilder           **
 ******************************/
ul.flex-direction-nav{
  display: none;
}

div.flexslider {
  margin: 0px;
  border: none;
} 

ol.flex-control-nav{
  bottom: 0px;
  z-index: 10;
}
