/*******************************
 *       General              **
 ******************************/
div#main-content{
  padding: 50px 0px 10px;
}

div#main-content #content-wrapper {
  width: 40%;
  min-width: 500px;
  background: rgba(255, 255, 255, 0.90) none repeat scroll 0 0;
}

.node-article header,
.node-article .form-item {
  display: none;
}
#dragon-blocks .dragon-mini-panel-block:not(.dragon-mini-panel-full) .content {
  width: 100%;
}
/*******************************
 *     Panel in other page    **
 ******************************/
#block-panels-mini-navigation-header .panels-flexible-column{
  width: 25%;
}

#block-panels-mini-navigation-header .panels-flexible-column-first,
#block-panels-mini-navigation-header .panels-flexible-column-last{
  width: 12.5%;
}

#mini-panel-working_with_customers .panel-col-first,
#mini-panel-navigation_detail_section .panel-col-first{
  width: 60%;
}

#mini-panel-working_with_customers .panel-col-last,
#mini-panel-navigation_detail_section .panel-col-last{
  width: 40%;
}

#block-panels-mini-what-we-do-steps .text-center img {
  margin: 0 auto;
}

#block-panels-mini-what-we-do-steps .pane-node .pane-title,
#block-panels-mini-our-services .pane-custom .pane-title,
#block-panels-mini-what-we-do-steps .pane-our-people .pane-title {
  border-bottom: 5px solid #e74c3c;
  margin-bottom: 0;
  padding-bottom: 10px;
}

#block-panels-mini-what-we-do-steps .pane-node .pane-content .content {
  margin-top: 0;
}

#block-panels-mini-our-services .pane-content>ul.menu>li {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  margin-bottom: 20px;
  padding: 20px;
}

#block-panels-mini-our-services .pane-content>ul.menu>li a {
  color: #e74c3c;
}

#block-panels-mini-our-services .pane-content,
#block-panels-mini-what-we-do-steps .pane-our-people .pane-content {
  background-color: #fff;
}
